<!doctype html>
<html>
    <head>
        <title> Los mejores pokemones que han exisitido jamás</title>
        <img src="/img/mewtwo.png" width="100px" height="100px"/>
        </head>
        <body>
            {{{body}}} 
        </body>
</html>