<h1>Pokémon Legendarios</h1>
    <p>Los Pokémon legendarios son criaturas únicas y poderosas que se encuentran en el mundo de Pokémon. A menudo, estos Pokémon están asociados con historias antiguas y mitologías, y muchos de ellos juegan un papel crucial en la trama de los videojuegos y las películas.</p>
    
    <h2>Algunos Pokémon Legendarios Famosos</h2>
    <ul>
        <li><strong>Articuno:</strong> Un Pokémon ave legendario con control sobre el hielo y el frío. Es uno de los tres pájaros legendarios de Kanto.</li>
        <li><strong>Zapdos:</strong> Un Pokémon ave eléctrico que controla los rayos. También es parte de los tres pájaros legendarios de Kanto.</li>
        <li><strong>Moltres:</strong> El tercer pájaro legendario de Kanto, representa el fuego y tiene la habilidad de curar sus heridas con llamas.</li>
        <li><strong>Mewtwo:</strong> Un Pokémon creado por ingeniería genética a partir de Mew. Es conocido por su poder psíquico inmenso.</li>
        <li><strong>Rayquaza:</strong> Un Pokémon dragón que tiene la habilidad de controlar el clima y está relacionado con Groudon y Kyogre.</li>
    </ul>